
$color-theme:rgb(255, 46, 99);
$bg-dark: 	#252A34;
$bg-white: 	#f9f9f9;
$text-dark: $bg-dark;
$text-white: $bg-white;

$theme-schema: $bg-dark;

$layout-max-width:70%;

$navbar-links-a-hover: #fff;
$navbar-links-a-bg1: #006C9A;
$navbar-links-a-bg2: #00BEBE;
$navbar-links-a-bg3: #00F3E4;
