#navbar {
	top: 0;
	@include construct-navbar(5px solid $color-theme, $theme-schema);
}

#navbar li {
	display: inline;
}

#links a {
	color: $color-theme;
	text-decoration: none;
	padding: 0 20px;
}

#links {
	margin-top: 10px;
	font-family: sans-serif;
	display: inline;

	li:nth-child(1) > a:hover {
		color: #006C9A;
	}
	li:nth-child(2) > a:hover {
		color: #00BEBE;
	}
	li:nth-child(3) > a:hover {
		color: #00F3E4;
	}
}

#brand {
	font-size: 2em;
	display: inline;
}
