#navbar {
	top: 0;
	@include construct-navbar(5px solid $color-theme, $theme-schema);
}

#navbar li {
	display: inline;
}

#links a {
	color: $color-theme;
	text-decoration: none;
	padding: 10px 20px;
	transition:all .2s ease-in-out;
	border: 2px solid transparent;
}

#links {
	margin-top: 10px;
	font-family: sans-serif;
	display: inline;

	li:nth-child(1) > a:hover {
		color: $navbar-links-a-hover;
		border: 2px solid $navbar-links-a-bg1;
		background-color: $navbar-links-a-bg1;
	}
	li:nth-child(2) > a:hover {
		color: $navbar-links-a-hover;
		border: 2px solid $navbar-links-a-bg2;
		background-color: $navbar-links-a-bg2;
	}
	li:nth-child(3) > a:hover {
		color: $navbar-links-a-hover;
		border: 2px solid $navbar-links-a-bg3;
		background-color: $navbar-links-a-bg3;
	}
}

#brand {
	font-size: 2em;
	display: inline;
}
